$font-family: 'Roboto', sans-serif;
$font-icons: 'Fontello', sans-serif;

$text-color: rgba(65, 72, 80, 1);
$text-color-opacity: rgba(65, 72, 80, 0.8);

$orange-color: #FF582B;
$green-color: #82CA71;
$red-color: #FA4A4A;