$font-family: 'Roboto', sans-serif;
$font-icons: 'Fontello', sans-serif;

$text-color: rgba(65, 72, 80, 1);
$text-color-opacity: rgba(65, 72, 80, 0.8);

$orange-color: #CAA971;
$orange-color-hover: #B5945C;

$pink-color: #F08080;
$pink-color-hover: #E17171;

$red-color: #FA4A4A;
$red-color-hover: #EF3F3F;

$green-color: #82CA71;
$green-color-hover: #79C168;

$green-text: #5EA64D;

$blue-link-color: #2273CF;