
.icon-arrow-left:before { content: '\e800'; } /* '' */
.icon-arrow-right:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-insta:before { content: '\e803'; } /* '' */
.icon-telegram:before { content: '\e804'; } /* '' */
.icon-vector:before { content: '\e805'; } /* '' */
.icon-arrow-bold-l:before { content: '\e806'; } /* '' */
.icon-arrow-bold-lr:before { content: '\e807'; } /* '' */