include ../button/button

.slider
  .swiper-container.js-slider
    .swiper-wrapper
      .swiper-slide
        .slider__content
          .slider__offer
            .slider__title
              p Бусина в подарок
            .slider__text
              p При покупке любых трёх правосланых бусин -<br><strong>четвертая</strong> в подарок
            .slider__button
              +button('В каталог', 'button--pink', '/catalog/pravoslavnye-businy')


