| @if ($product->description)
.product-desc
  ul.product-desc__tab
    li.is-active Описание
    li Видео
    li Доставка и оплата
    li Гарантия
  .product-desc__body
    .product-desc__screen
      .product-desc__text
        p
          <!--noindex-->{!! $product->description !!}<!--/noindex-->
    .product-desc__screen
      .product-desc__text
        p
          <!--noindex-->{!! $product->description !!}<!--/noindex-->
    .product-desc__screen
      .product-desc__text
        p
          <!--noindex-->{!! $product->description !!}<!--/noindex-->
    .product-desc__screen
      .product-desc__text
        p
          <!--noindex-->{!! $product->description !!}<!--/noindex-->
| @endif