| @if ($product->description)
.product-desc
  ul.product-desc__tab
    li Описание
  .product-desc__body
    .product-desc__text
      p
        <!--noindex-->{!! $product->description !!}<!--/noindex-->
| @endif