.cart
  | @if ($cart_count == 0)
  .cart__empty Ваша корзина покупок пуста.
  | @else
  .cart__content
    include ./cart-item/cart-item
  .cart__aside
    .cart-nav
      ul.cart-nav__list
        li.is-active &Scy;&pcy;&icy;&scy;&ocy;&kcy; &pcy;&ocy;&kcy;&ucy;&pcy;&ocy;&kcy;
        li &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ncy;&ycy;&iecy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy;
        li &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &icy; &ocy;&pcy;&lcy;&acy;&tcy;&acy;
        li &Scy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &ocy; &zcy;&acy;&kcy;&acy;&zcy;&iecy;
      .cart-nav__panel
        .cart-nav__button
          a.button.button--small.button--red(href='') &Ocy;&fcy;&ocy;&rcy;&mcy;&icy;&tcy;&softcy; &zcy;&acy;&kcy;&acy;&zcy;
        .cart-nav__clear
          a(href='') &Ocy;&chcy;&icy;&scy;&tcy;&icy;&tcy;&softcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
  | @endif
