/* Переменные */
@import '../_defaults/variables';
@import '/cart-item/cart-item';
@import '/cart-nav/cart-nav';
@import '/cart-ordering/cart-ordering';

.cart {
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-template-rows: auto 1fr;
  grid-gap: 15px;

  .hidden {
    display: none;
  }

  @media only screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.cart__col {

  &:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: -1;

    @media only screen and (max-width: 992px) {
      grid-row: 2;
    }
  }

  &:nth-child(2) {

    @media only screen and (max-width: 992px) {
      grid-row: 1;
    }
  }
}

.cart__items {
  margin: -15px 0;
}

.cart__empty {
  font-size: 16px;
  font-weight: 300;
  color: $text-color-opacity;

  a {
    color: $orange-color-hover;
    border-bottom: 1px dotted $orange-color-hover;
    font-weight: normal;
    transition: border-color 0.08s;

    .no-touch &:hover {
      border-color: transparent;
    }
  }
}