.cart.js-cart
  | @if ($cart_count == 0)
  .cart__empty Ваша корзина покупок пуста.
  | @else
  .cart__col
    include ./cart-ordering/cart-ordering
    | @if ($cart_step == 1)
    .cart__items(data-container="1")
      include ./cart-item/cart-item
    | @else
    .cart__items.hidden(data-container="1")
      include ./cart-item/cart-item
    | @endif

    | @if ($cart_step == 2)
    +cartStep_2()
    | @else
    +cartStep_2('hidden')
    | @endif

    | @if ($cart_step == 3)
    +cartStep_3()
    | @else
    +cartStep_3('hidden')
    | @endif
  .cart__col
    .cart-nav
      ul.cart-nav__list
        | @if ($cart_step == 1)
        li.is-active(data-step="1") Список покупок
        | @else
        li(data-step="1") Список покупок
        | @endif

        | @if ($cart_step == 2)
        li.is-active(data-step="2") Оформление заказа
        | @else
        li(data-step="2") Оформление заказа
        | @endif

        | @if ($cart_step == 3)
        li.is-active(data-step="3") Информация о заказе
        | @else
        li(data-step="3") Информация о заказе
        | @endif
  .cart__col
    .cart-nav__panel
      .cart-nav__total
        p {{$cart_total}}
      | @if ($cart_step == 1)
      .cart-nav__button
        a.button.button--red.js-ordering-next(href="") Начать оформление
      .cart-nav__link
        span.js-ordering-prev.hidden Вернуться
      | @elseif ($cart_step == 2)
      .cart-nav__button
        a.button.button--red.js-ordering-next(href="") Продолжить
      .cart-nav__link
        span.js-ordering-prev Вернуться
      | @elseif ($cart_step == 3)
      .cart-nav__button
        a.button.button--red.js-ordering-next(href="") Оформить
      .cart-nav__link
        span.js-ordering-prev Вернуться
      | @endif

  | @endif
