.cart
  | @if ($cart_count == 0)
  .cart__empty Ваша корзина покупок пуста.
  | @else
  .cart__content
    include ./cart-item/cart-item
  .cart__aside
    .cart-nav
      ul.cart-nav__list
        li.is-active Список покупок
        li Контактные данные
        li Доставка и оплата
        li Сведения о заказе
      .cart-nav__panel
        .cart-nav__button
          a.button.button--small.button--red(href='') Оформить заказ
        .cart-nav__clear
          a(href='') Очистить корзину
  | @endif
