/* Переменные */
@import '../variables';

.select {
  height: 28px;
  overflow: hidden;
  position: relative;
  
  &:after {
    content: '\E804';
    font-family: $font-icons;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  select {
    appearance: none;
    font-size: 14px;
    color: $text-color;
    height: 100%;
    width: 100%;
    padding: 0 27px 0 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background: transparent;
    border: 1px solid rgba(44,63,81,.15);
    border-radius: 4px;
    transition: border-color 0.08s;
  
    .no-touch &:hover {
      border-color: rgba(44, 63, 81, 0.4);
    }
  }
}