/* Переменные */
@import '../_defaults/variables';

.breadcrumb {
  display: flex;
  font-size: 14px;
  list-style-type: none;
  margin: 15px 0;
}

.breadcrumb__el {
  &:after {
    content: '/';
    margin: 0 10px;
  }

  &:last-child:after {
    content: '';
  }
}

.breadcrumb__link {
  font-size: 14px;
  color: #2273CF;
  border-bottom: 1px solid #2273CF;
  transition: border-color 0.08s;

  &:hover {
    border-color: transparent;
  }
}