/* Переменные */
@import '../_defaults/variables';

.role {
  display: flex;
  background: #ECF1F5;
  padding: 40px 20px;
}

.role__col {
  flex: 0 1 50%;
  margin: 0 20px;
}

.role__box {
  position: relative;
  padding: 0 0 0 80px;

  &:before {
    content: '';
    width: 56px;
    height: 56px;
    border: 2px solid $orange-color;
    position: absolute;
    left: 0;
    border-radius: 50%;
  }

  &:after {
    content: '\E805';
    font-family: $font-icons;
    position: absolute;
    left: 13px;
    top: 17px;
    font-size: 22px;
    color: $orange-color;
  }
}

.role__box--home {
  &:after {
    content: '\E808';
    left: 19px;
  }
}

.role__title {
  font-weight: bold;
  text-transform: uppercase;
}

.role__desc {
  position: relative;
  overflow: hidden;
  padding: 11px 0 4px 0;

  p {
    font-size: 14px;
    color: $text-color-opacity;
    line-height: 20px;
    max-height: 60px;
  }

  &:after {
    content: '...';
    display: block;
    width: 50px;
    background: #ECF1F5;
    position: absolute;
    right: 0;
    bottom: 4px;
    padding: 0 0 0 2px;
  }
}

.role__link {
  font-size: 14px;
  color: $orange-color;
  border-bottom: 1px solid transparent;
  transition: border-color 0.08s;

  .no-touch &:hover {
    border-color: $orange-color;
  }

}