.role
  .role__col
    .role__box
      .role__title Исполнитель
      .role__desc
        p
          | Прежде всего, экономическая повестка сегодняшнего дня обеспечивает
          | широкому кругу (специалистов) участие в формировании соответствующих
          | условий активизации! Лишь некоторые особенности внутренней политики
          | лишь добавляют фракционных разногласий и объективно рассмотрены
          | соответствующими инстанциями.
      a.role__link(href="") Подробнее
  .role__col
    .role__box.role__box--home
      .role__title Заказчик
      .role__desc
        p
          | Ясность нашей позиции очевидна: сплочённость команды профессионалов
          | не даёт нам иного выбора, кроме определения системы обучения кадров,
          | соответствующей насущным потребностям. Но предприниматели в сети интернет
          | функционально разнесены на независимые элементы! Мы вынуждены отталкиваться
          | от того, что высококачественный прототип будущего проекта создаёт
          | необходимость включения в производственный план целого ряда внеочередных
          | мероприятий с учётом комплекса форм воздействия.
      a.role__link(href="") Подробнее