/* Переменные */
@import '../../_defaults/variables';

.cart-ordering {
  background: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  padding: 20px 30px;
  border-radius: 4px;

  @media only screen and (max-width: 768px) {
    padding: 20px 15px;
  }

  & .green {
    color: $green-text;
    font-weight: 400;
  }

  & .red {
    color: $red-color;
    font-weight: 400;
  }
}

.cart-ordering__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 15px;
  border-bottom: 1px solid #EAEAEA;
  color: $text-color;
}

.cart-ordering__form {
  margin: 20px 0 -10px;
}

.cart-ordering__field {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  & > label, & > div:first-child {
    width: 18%;
    font-size: 15px;
    margin: 10px 0 0;
    position: relative;

    span {
      display: none;
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 5px;
      font-weight: 400;
      color: $text-color-opacity;

      &.is-invalid {
        color: $red-color;
      }

      &.is-valid {
        color: $green-color;
      }
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
      margin: 10px 0 5px;
      font-weight: bold;

      span {
        display: block;
      }
    }
  }

  & > ul {
    width: 50%;
    list-style-type: none;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  & > input,
  & > textarea {
    width: 50%;
    font-family: $font-family;
    font-size: 15px;
    color: $text-color;
    padding: 10px;
    position: relative;
    border: 1px solid #CCCCCC;
    outline: none;
    background: #FFFFFF;
    font-weight: 300;
    border-radius: 4px;
    overflow: hidden;
    height: 38px;
    resize: none;

    &::placeholder {
      color: $text-color-opacity;
      opacity: 0.8;
      font-weight: 300;
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    &:focus {
      border-color: $orange-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(202, 169, 113, 0.3)
    }

    &.is-invalid {
      border-color: $red-color;

      & + label {
        color: $red-color;
      }
    }

    &.is-valid {
      border-color: $green-color;

      & + label {
        color: $green-color;
      }
    }
  }

  & > textarea {
    height: 60px !important;
  }

  & > span {
    position: relative;
    background: #EAEAEA;
    display: inline-block;
    padding: 6px 16px;
    text-align: center;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 300;
    margin: 5px 0 0 8px;
    width: 27%;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: #EAEAEA;
      position: absolute;
      left: -5px;
      top: 5px;
      transform: rotate(45deg);
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }

    &.empty {
      opacity: 0;
    }

    &.is-invalid {
      background-color: $red-color;
      color: #FFFFFF;

      &:before {
        background-color: $red-color;
      }
    }

    &.is-valid {
      background-color: $green-color;
      color: #FFFFFF;

      &:before {
        background-color: $green-color;
      }
    }
  }
}

.cart-ordering__radio {
  display: flex;
  align-items: center;
  margin: 10px 0;

  label {
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
    cursor: pointer;
  }

  input[type="radio"] {
    width: 16px;
    height: 16px;
    border: 2px solid #c8cfd1;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    appearance: none;
    flex-shrink: 0;

    &:checked {
      border-color: $orange-color;

      &:after {
        content: '';
        width: 4px;
        height: 4px;
        border: 1px solid $orange-color;
        background: $orange-color;
        display: block;
        border-radius: 50%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(202, 169, 113, 0.3);
    }
  }
}

.cart-ordering__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;

  & > li {
    width: calc(30% - 40px);
    margin: 20px;

    @media only screen and (max-width: 768px) {
      width: calc(50% - 40px);
    }

    @media only screen and (max-width: 480px) {
      width: 100% !important;
    }

    & > span:nth-child(1) {
      margin: 0 0 5px;
      display: block;
      font-weight: 300;
    }

    & > span:nth-child(2) {
      font-weight: 500;
      display: inline-block;

      &.is-price {
        &:after {
          content: ' руб.';
          font-size: 15px;
          font-weight: 400;
          display: inline-block;
          padding: 0 0 0 3px;
        }
      }
    }

    /* Последний элемент с итогами */
    &.is-important {
      & > span:nth-child(2) {
        //border-bottom: 4px double $orange-color;
      }
    }
  }
}

.cart-ordering__success {
  background: $green-color;
  color: #FFFFFF;
  padding: 20px 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  border-radius: 4px;
  margin: 15px 0;

  p:nth-child(1) {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 3px;
  }

  p:nth-child(2) {
    font-weight: 300;
  }
}
