mixin cartStep_2(hidden)
  .cart-ordering(class=hidden, data-container="2")
    .cart-ordering__title Оформление заказа
    form.cart-ordering__form(id="ordering")
      .cart-ordering__field
        label(for="name") ФИО <span>обязательное поле</span>
        input(id="name", name="name", placeholder="Пример: Иванов Иван Иванович")
        span Обязательное поле
      .cart-ordering__field
        label(for="phone") Телефон <span>обязательное поле</span>
        input(id="phone", name="phone", type="tel", placeholder="Пример: 8 (495) 000-00-00")
        span Обязательное поле
      .cart-ordering__field
        div Доставка <span>обязательное поле</span>
        ul
          li.cart-ordering__radio
            input(id="shipping_1", name="shipping", type="radio", value="300")
            label(for="shipping_1") в пределах МКАД (300 руб.)
          li.cart-ordering__radio
            input(id="shipping_2", name="shipping", type="radio", value="доставка за МКАД (цена договорная)")
            label(for="shipping_2") за МКАД (цена договорная)
        span Обязательное поле
      .cart-ordering__field
        label(for="address") Адрес
        input(id="address", name="address", placeholder="Пример: г. Москва, ул. Советская д. 1, кв. 2")
        span.empty
      .cart-ordering__field
        label(for="email") Email <span>для отправки заказа</span>
        input(id="email", name="email", placeholder="Пример: example@example.ru")
        span Для отправки заказа
      .cart-ordering__field
        label(for="comment") Комментарий
        textarea(id="comment", name="comment", placeholder="Пример: Во дворе злая собака!")
        span.empty
      .cart-ordering__field
        label(for="promo") Промокод <span>для активации скидки</span>
        input(id="promo", name="promo", placeholder="Пример: AB9DE")
        span Для активации скидки

mixin cartStep_3(hidden)
  .cart-ordering(class=hidden, data-container="3")
    .cart-ordering__title Информация о заказе
    ul.cart-ordering__list
      li
        span Контактное лицо:
        span.js-name
      li
        span Телефон:
        span.js-phone
      li
        span Способ доставки:
        span.js-shipping
      li
        span Адрес доставки:
        span.js-address не указано
      li
        span Электронная почта:
        span.js-email не указано
      li
        span Комментарий:
        span.js-comment не указано
      li.is-important
        span Стоимость изделий:
        span.is-price.js-price {{$cart_total}}
      li
        span Стоимость доставки:
        span.is-price.js-shipping-price
      li.is-important
        span Скидка по промокоду:
        span.is-price.js-discount {{$cart_total}}
      li.is-important
        span Общая стоимость покупки:
        span.is-price.js-total-price {{$cart_total}}
