mixin select(label_text, placeholder_text)
  .form__label
    .label !{label_text}
  .auto-search-select
    a.auto-search-select__button(href="") !{placeholder_text}
    .auto-search-select__drop
      .auto-search-select__search
        input
      ul.auto-search-select__results
        li Автовышки
        li.is-selected Автокраны
        li Бульдозеры
        li Гусеничные экскаваторы
        li Длинномеры
        li Колесные экскаваторы
        li Манипуляторы
        li Минипогрузчики
        li Низкорамные платформы
        li Самосвалы
        li Фронтальные погрузчики
        li Экскаваторы погрузчики