/* Переменные */
@import '../../_defaults/variables';

.header-props {

}

.header-props__phone {
  padding: 0 0 18px 0;

  a {
    color: $text-color-opacity;
    font-size: 24px;
    font-weight: 500;
  }
}

.header-props__ul {
  list-style-type: none;

  li {
    padding: 5px 18px;
    position: relative;
    color: $text-color-opacity;
    font-size: 15px;
    text-align: left;

    &:before {
      content: "";
      background: $text-color-opacity;
      width: 3px;
      height: 3px;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-52%);
      left: 0;
    }
  }
}

.header-props__callback {
  color: $orange-color-hover;
  border-bottom: 1px dotted $orange-color-hover;
  transition: border-color 0.05s;
  cursor: pointer;
  display: inline;

  .no-touch &:hover {
    border-bottom: transparent;
    //color: $orange-color-hover;
  }
}
