/* Переменные */
@import '../_defaults/variables';

.aboutus {

  p {
    font-size: 15px;
    line-height: 22px;
    color: $text-color;
    font-weight: 300;
    margin: 12px 0;

    a {
      color: blue;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}