.catalog.js-catalog
  .catalog__container
    .catalog__aside
      .catalog__filter
        include ../filter/filter
    .catalog__content
      .catalog__title
        h1 {{$subcategory}}
      .catalog__top-panel
        .catalog__select
          .catalog-select
            span На странице:
            select(name="per_page")
              optgroup(label="На странице:")
              option(value="24", selected="selected") 24 изделия
              option(value="36") 36 изделия
              option(value="42") 42 изделия
        .catalog__select
          .catalog-select
            span Сортировка:
            select(name="orderby")
              optgroup(label="Сортировка:")
              option(value="asc", selected="selected") по Увеличению цены
              option(value="desc") по Уменьшению цены
        .catalog__total Показано: <span>{{$items->count()}} изд.</span>

      include ../item/item
      +items('3')
      | {{$items->render()}}
      | @if ($category_comment)
      .catalog__comment
        p {!! $category_comment !!}
      | @endif