/* Переменные */
@import '../_defaults/variables';

.catalog {

}

.catalog__title {

  span {
    font-weight: 300;
  }

  h1 {
    color: $text-color;
    font-size: 22px;
    margin: 0 0 25px 0;
    display: inline-block;
    font-weight: 500;

    @media only screen and (max-width: 768px) {
      margin: 0 0 15px;
    }
  }
}

.catalog__container {
  display: flex;
  height: 100%;
  margin: 0 -12.5px;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.catalog__aside,
.catalog__content {
  flex-grow: 1;
  margin: 0 12.5px;
}

.catalog__aside {
  width: 265px;
  flex-shrink: 0;
  flex-grow: 0;

  @media only screen and (max-width: 992px) {
    width: 180px;
  }

  @media only screen and (max-width: 768px) {
    flex-grow: 1;
    //display: none;
  }
}

.catalog__top-panel {
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  align-items: flex-end;
  margin: 0 0 10px;
  padding: 0 0 5px;

  @media only screen and (max-width: 768px) {
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
  }
}

.catalog__total {
  color: $text-color-opacity;
  font-size: 13px;
  font-weight: 300;
  margin-left: auto;
  white-space: nowrap;

  span {
    font-weight: 500;
  }

  @media only screen and (max-width: 768px) {

  }
}

.catalog__select {
  color: $text-color;
  position: relative;
  margin: 0 20px 0 0;
  display: flex;

  span {
    font-weight: 300;
    font-size: 13px;
    white-space: nowrap;

    &:after {
      content: '\E807';
      font-family: $font-icons;
      position: absolute;
      right: 0;
      z-index: 3;
      top: 2px;
      font-size: 11px;
    }
  }

  select {
    color: $text-color-opacity;
    appearance: none;
    background: transparent;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px 0 0;
    position: relative;
    z-index: 5;

    @media only screen and (max-width: 768px) {

    }
  }

  option {
    background-color: #FFFFFF;
    color: $text-color-opacity;
    padding: 5px 0 5px 10px;
    border: 1px solid transparent;
  }

  @media only screen and (max-width: 768px) {

  }
}

.catalog .pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 30px 0 0;
  flex-wrap: wrap;

  li {
    border: 1px solid rgba(102, 107, 114, .3);
    border-right: none;
    overflow: hidden;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-right: 1px solid rgba(102, 107, 114, .3);
      border-radius: 0 4px 4px 0;
    }
  }

  a,
  span {
    color: $text-color-opacity;
    padding: 5px 11px;
    display: block;
    font-size: 15px;

    @media only screen and (max-width: 480px) {
      padding: 5px 9px;
    }
  }

  a {
    transition: background-color 0.08s, color 0.08s;

    .no-touch &:hover {
      background-color: $orange-color;
      color: #FFFFFF;
    }

    &:active {
      box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
      background-color: $orange-color;
      color: #FFFFFF;
    }
  }

  .active span {
    background-color: $orange-color;
    color: #FFFFFF;
  }
}

.catalog__comment {
  margin: 30px 0 0;

  p {
    font-size: 15px;
    color: $text-color-opacity;
    font-weight: 300;
    line-height: 22px;
  }

  a {
    color: $orange-color-hover;
    border-bottom: 1px solid $orange-color;
    transition: border-color 0.05s;

    .no-touch &:hover {
      border-color: transparent;
    }
  }
}
