ul.filter-switch
  li.filter-switch__btn
    input(type="radio" id="price_asc" name="orderby" value="asc" hidden checked)
    label(for="price_asc") По цене ↑
  li.filter-switch__btn
    input(type="radio" id="price_desc" name="orderby" value="desc" hidden)
    label(for="price_desc") По цене ↓
