.cat
  .cat__header
    .cat__pager
      include ../pager/pager
    .cat__number
      p Показано 1358 объявлений
    .cat__sort
      p объявлений на странице
      label.select
        select
          option 50
          option 100
          option 1000
  .cat__table
    - var n = 1;
    -
      var date = [
      ['№ об.', 'Наименование', 'Поставщик техники', 'Адрес базирования', 'Описание', 'Стоимость'],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана</a>',
      'ООО “ВАЛЕНТО”',
      'г. Москва',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ],
      [
      '536874',
      '<a href="" class="cat-table-link">Аренда автокрана (автомобильного крана) Liebherr LTM</a>',
      'ООО “ИНЖСТРОЙ”',
      'г. Санкт-Петербург, Ефимовский, Зеленогорск',
      'Автокран 23тн и прочая, прочая, характеристика коротко в',
      '8000 руб. / смена'
      ]
      ]
    table.cat-table
      tr.cat-table-thead
        each val, index in date[0]
          th.cat-table-th=`${val}`
      - for (var x = 1; x < date.length - 1; x++)
        tr.cat-table-tr
          each val, index in date[x]
            td.cat-table-td
              p!= `${val}`

