.filter-slide-box
  | @foreach ($menu as $menu_items)
  .filter-slide-box__head {{$menu_items['category']}}
  .filter-slide-box__body
    | @foreach ($menu_items['subcategory'] as $slug => $subcategory_name)
    | @if ($subcategory_name == $h1)
    a.filter-slide-box__link(href!="{{$slug}}", class!="is-active") {{$subcategory_name}}
    | @else
    a.filter-slide-box__link(href!="{{$slug}}") {{$subcategory_name}}
    | @endif
    | @endforeach
  | @endforeach