/* Переменные */
@import '../../_defaults/variables';

.filter-slide-box {

}

.filter-slide-box__head {
  padding: 10px 20px;
  background: #EAEAEA;
  color: $text-color;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;

  &:after {
    content: '\E807';
    font-family: $font-icons;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s;
  }

  &.is-active:after {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.filter-slide-box__body {
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;

  &.is-active {
    max-height: 100vh;
    transition: max-height 0.3s ease-in;
  }
}

.filter-slide-box__link {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 300;
  display: block;
  color: $text-color;
  transition: color 0.08s, background-color 0.08s;
  border-bottom: 1px solid #EAEAEA;

  .no-touch &:hover,
  &.is-active {
    background-color: $orange-color;
    color: #FFFFFF;
  }
}