.product(id!="{{$items->id}}")
  .product__wrapper
    .product__col.product__col--left
      .product__name
        h1 {{$items->name}}
      .product__article {{$items->article}}
      .product__image
        include product-image/product-image
    .product__col
      .product__price
        p {{$items->price}}
      .product__row
        ul.product__params
          | @if ($items->manufacturer)
          li
            span Производитель:
            span {{$items->manufacturer}}
          | @endif
          | @if ($items->weight)
          li
            span Средний вес:
            span {{$items->weight}}
          | @endif
          | @if ($items->material)
          li
            span Материал:
            span {{$items->material}}
          | @endif
          | @if ($items->technic)
          li
            span Техника:
            span {{$items->technic}}
          | @endif
          | @if ($items->dimension)
          li
            span Размеры:
            span {{$items->dimension}}
          | @endif
          li
            span Наличие:
            span.green на складе
        | @if ($items->comment)
        .product__comment {!! $items->comment !!}
        | @endif
      .product__holy
        p Изделие освящено
      .product__row
        include ../button/button
        | @if (!$in_cart)
        .product__button
          +button('В корзину', 'button--red', '#', 'ym("47722900", "reachGoal", "CART"); return true;')
        .product__buy
          span.js-button-buy Быстрая покупка
        | @else
        .product__alert Товар в корзине
        .product__buy
          a(href="/cart") Перейти в корзину
        | @endif
  .product__description
    include product-desc/product-desc
