mixin breadcrumbs(current, link)
  ul.breadcrumb
    li
      a.breadcrumb__link(href!="/") Главная
    if link
      li
        a.breadcrumb__link(href!='/catalog/{{$subcategory_plug}}') !{current}
      li !{link}
    else
      li #{current}

