mixin breadcrumbs(current, link)
  ul.breadcrumb
    li
      a.breadcrumb__link(href!="/") Православный интернет-магазин «ВЕЧЕРИЯ»
    if link
      li
        a.breadcrumb__link(href!='/{{$slug}}') !{current}
      li !{link}
    else
      li #{current}

