mixin breadcrumbs(current, last, lastLink)
  ul.breadcrumb
    li
      a.breadcrumb__link(href!="/") Православный интернет-магазин «ВЕЧЕРИЯ»
    if last
      li
        a.breadcrumb__link(href!='/catalog/' + lastLink) !{last}
      li !{last}
    else
      li #{current}

