/* Переменные */
@import '../_defaults/variables';

.form {
  padding: 30px;
  background: #ECF1F5;
  border-radius: 4px;
}

.form--filter {
  padding: 10px 30px 30px;
}

.form__header {
  border-bottom: 1px solid rgba(44, 63, 81, .15);
  padding: 0 0 5px;
}

.form__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.form__subtitle {
  line-height: 30px;
  color: $text-color-opacity;
}

.form__body {
  margin: 30px 0 20px;
}

.form__row {
  margin: 20px 0;

  .form--with-tip & {
    max-width: 700px;
  }
}

.form__row--two {
  display: flex;
  margin: 20px -15px;
}

.form__row--three {
  display: flex;
  margin: 20px -15px;
}

.form__col {
  flex: 0 0 auto;
  margin: 0 15px;

  .form__row--two & {
    width: calc(50% - 15px);
  }

  .form__row--three & {
    width: calc(100%/3 - 30px);
  }
}

.form__footer {
  margin: 30px 0 0;
}

.form__footer--few-button {
  display: flex;
}

.form__after-word {
  border-bottom: 1px solid rgba(44, 63, 81, .15);
  color: rgba(65, 72, 80, 0.7);
  font-size: 11px;
  padding: 0 0 2px 0;
}

.form__button {
  margin: 20px 0 0 0;
  
  .form__footer--few-button & {
    margin: 0 20px 0 0;
  }
}

.form__label {
  margin: 0 0 14px;
}