include elements/checkbox
include elements/input
include elements/auto-search-select
include ../button/button

mixin quickOrder
  .form.form--with-tip
    .form__header
      .form__title Быстрый поиск спецтехники
      .form__subtitle Разместите заявку и мы бесплатно поможем подобрать Вам спецтехнику для выполнения работ любой сложности
    .form__body
      .form__row.form__row--two
        .form__col
          +input('name', 'Контактное лицо:', 'Введите имя')
        .form__col
          +input('phone', 'Телефон:', 'Введите телефон', 'phone')
      .form__row
        +input('phone', 'Описание к заказу:', 'Введите описание к заказу (город, тип техники, услугу и т.д.)', 'textarea')
      .form__row
        +checkbox('Я принимаю условия <a href="">пользовательского соглашения</a>')
    .form__footer
      .form__after-word Ваша заявка будет опубликована и видна всем пользователям сайта
      .form__button
        +button('Опубликовать заявку', 'large')

mixin filter
  .form.form--filter
    .form__row.form__row--three
      .form__col
        +select('Тип техники:', 'Выберите тип техники')
      .form__col
        +select('Производитель:', 'Выберите производителя')
      .form__col
        +select('Марка:', 'Выберите марку')
    .form__footer.form__footer--few-button
      .form__button
        +button('Применить')
      .form__button
        +button('Сбросить', 'grey')


