/* Переменные */
@import '../../_defaults/variables';

.header-sign__in,
.header-sign__up {
  display: inline-block;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0 16px 0 39px;
  position: relative;
  transition: color 0.08s;

  &:before {
    content: '\E803';
    font-family: $font-icons;
    position: absolute;
    left: 14px;
    font-size: 16px;
  }

  .no-touch &:hover {
    color: $orange-color;
  }
}

.header-sign__in {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 0 20px 0 0;
  padding: 12px 16px 12px 39px;

  &:before {
    content: '\E802';
  }
}

