- var n = 5;

ul.pager
  li.pager__prev
    a.pager__link(href="") «
  li.pager__el
    a.pager__link(href="") 1
  li.pager__plug
  li.pager__el
    a.pager__link(href="") 5
  li.pager__el
    a.pager__link.is-active(href="") 6
  li.pager__el
    a.pager__link(href="") 7
  li.pager__plug
  li.pager__el
    a.pager__link(href="") 15
  li.pager__next
    a.pager__link(href="") »