/* Переменные */
@import '../_defaults/variables';

.pager {
  display: flex;
  list-style-type: none;
  margin: 0 -2px;
}

.pager__el {
  margin: 0 2px;
}

.pager__plug {
  width: 22px;
  height: 22px;
  text-align: center;
  
  &:after {
    content: '...';
    color: $text-color-opacity;
    font-size: 14px;
  }
  
}

.pager__link {
  background: #ECF1F5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  flex: 0 0 auto;
  color: $text-color-opacity;
  font-size: 11px;
  border-radius: 4px;
  transition: color 0.08s;
  
  .no-touch &:hover {
    color: $orange-color;
  }
  
  .no-touch &:active,
  &.is-active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: $orange-color;
  }
}