
.icon-cog:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-key:before { content: '\e803'; } /* '' */
.icon-down-open-mini:before { content: '\e804'; } /* '' */
.icon-3:before { content: '\e805'; } /* '' */
.icon-info-outline:before { content: '\e806'; } /* '' */
.icon-drawing:before { content: '\e807'; } /* '' */
.icon-2:before { content: '\e808'; } /* '' */
.icon-dollar:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e80b'; } /* '' */
.icon-calendar-1:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-email:before { content: '\e810'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e812'; } /* '' */
.icon-бульдоз:before { content: '\e813'; } /* '' */
.icon-мини:before { content: '\e816'; } /* '' */
.icon-сам:before { content: '\e818'; } /* '' */
.icon-фронт:before { content: '\e819'; } /* '' */
.icon-экскава:before { content: '\e81a'; } /* '' */
.icon-экскават:before { content: '\e81b'; } /* '' */
.icon-автокран:before { content: '\e81c'; } /* '' */
.icon-длин:before { content: '\e81d'; } /* '' */
.icon-низкорамник-1:before { content: '\e81f'; } /* '' */
.icon-автовшк:before { content: '\e820'; } /* '' */
.icon-манип:before { content: '\e821'; } /* '' */
.icon-низкорам:before { content: '\e822'; } /* '' */