/* Переменные */
@import '../_defaults/variables';

.button {
  display: block;
  width: 100%;
  background: $orange-color;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: center;
  transition: background-color 0.15s;
  font-weight: 500;
  cursor: pointer;

  .no-touch &:hover,
  &:active {
    background-color: $orange-color-hover;
  }

  &:active {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
  }
}

.button--pink {
  background: $pink-color;

  .no-touch &:hover,
  &:active {
    background-color: $pink-color-hover;
  }
}

.button--red {
  background: $red-color;

  .no-touch &:hover,
  &:active {
    background-color: $red-color-hover;
  }
}

.button--green {
  background: $green-color;

  .no-touch &:hover,
  &:active {
    background-color: $green-color-hover;
  }
}

.button--small {
  font-size: 12px;
  font-weight: 400;
  padding: 8px 24px;
}