/* Переменные */
@import '../_defaults/variables';
/* Композиция */
@import 'header-sign/header-sign';

.header {
  display: flex;
  height: 100px;
  align-items: center;
  flex: 0 0 auto;
}

.header__logo {
  padding: 0 67px 0 0;
}

.header__desc p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 16px;
}

.header__sign-in-up {
  margin: 0 0 0 auto;
}