header.header
  .header__cap
    .container.container--flex
      .header__nav
        include header-nav/header-nav
      .header__search
        .header-search
  .header__body
    .container.container--flex
      .header__props
        include header-props/header-props
      .header__logo
        include ../logo/logo
        +logo()
      .header__cart
        include header-cart/header-cart