/* Переменные */
@import '../_defaults/variables';
@import 'header-nav/header-nav';
@import 'header-props/header-props';
@import 'header-cart/header-cart';

.header {
  //filter: blur(0.5px);
}

.header__cap {
  padding: 12px 0;
  border-bottom: 1px solid #EAEAEA;
}

.header__body {
  padding: 30px 0;
  border-bottom: 1px solid transparent;
}
