footer.footer(itemscope, itemtype="http://schema.org/WPFooter")
  <meta itemprop="copyrightYear" content="{{ date('Y') }}">
  <meta itemprop="copyrightHolder" content="vecheria.ru">
  include ../up/up
  .footer__top
    .container.container--flex
      .footer__logo
        include ../logo/logo
        +logo('white')
        .footer__props
          p ИП: Никитин Б.В.<br>ОГРНИП: 313774628200454
      ul.footer__nav
        li
          a(href="/") Главная
        li
          a(href="/shipping") Доставка
        li
          a(href="/payment") Оплата
        li
          a(href="/contacts") Контакты
        li
          a(href="/cart") Корзина
      .footer__feedback
        .footer__phone
          a(href="tel:+74952039696") +7 (495) 203-96-96
        .footer__text
          p Приём заказов по телефону:<br> пн-пт c 10:00 до 19:00 (МСК)
          p Заказы через интернет – круглосуточно
  .footer__copyright
    .container
      p Интернет-магазин православных ювелирных изделий vecheria.ru. All rights reserved ©{{ date('Y') }}г.