/* Переменные */
@import '../_defaults/variables';

.footer {
  text-align: center;
  padding: 30px 0 20px;
}

.footer__copy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 18px;
}