.menu__container
  nav.container(itemscope, itemtype="http://schema.org/SiteNavigationElement")
    ul.menu
      | @foreach ($menu as $menu_items)
      li
        span.menu__plug {{$menu_items['category']}}
        ul.menu__submenu
          | @foreach ($menu_items['subcategory'] as $slug => $subcategory)
          li
            a.menu__submenu-link(href="/catalog/{{$slug}}", itemprop="url") {{$subcategory}}
          | @endforeach
      | @endforeach