.menu
  .container.container--flex
    a.menu__link(href="") Кресты
    a.menu__link(href="") Образки
    a.menu__link(href="") Браслеты
    a.menu__link(href="") Кольца
    a.menu__link(href="") Крещение
    a.menu__link(href="") Цепи и шнурки
    a.menu__link(href="") Подарки
    a.menu__link(href="") Бусины
    a.menu__link(href="") Аксессуары
    a.menu__link(href="") Иконы