doctype html
html
  head
  meta(charset = "utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  meta(name="description", content!="{{$description}}")
  meta(name="keywords", content!="{{$keywords}}")
  meta(name="robots", content="")
  meta(name="csrf-token", content="{{csrf_token()}}")
  meta(name="yandex-verification", content="2ff68d0f217a770e")
  //meta(name="format-detection", content="telephone=no")
  link(href=cssPath, rel="stylesheet")
  title {{$title}}
  | @if ($canonical != false)
  |
  | @endif
body
  include ../components/header/header
  include ../components/menu/menu
  | @yield ('content')
  include ../components/footer/footer
  include ../components/popup/popup
  +callback()
  script(src=jsPath, type="text/javascript")
  <!-- Yandex.Metrika counter -->
  script.
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () {
        (m[i].a = m[i].a || []).push(arguments)
      };
      m[i].l = 1 * new Date();
      k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"
    );
    ym(47722900, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
    });
  < !--/Yandex.Metrika counter -->




