doctype html
html
  head
  meta(charset = "utf-8")
  meta(name="viewport", content="initial-scale=1.0,width=device-width")
  meta(name="description", content="")
  meta(name="keywords", content="")
  meta(name="description", content="")
  meta(name="robots", content="")
  meta(name="yandex-verification", content="2ff68d0f217a770e")
  title Webpack1 app
body
  block body


