| @extends ('layout')
| @section('content')
.container
  include ../components/slider/slider
  include ../components/title/title
  +title('p', 'Популярные изделия')
  include ../components/item/item
  +itemsSlider()
  +title('p', 'Интернет-магазин православных ювелирных изделий «ВЕЧЕРИЯ»')
  include ../components/aboutus/aboutus
| @endsection


