include  ../components/form/form
doctype html
html
  head
  meta(charset = 'utf-8')
  meta(name='viewport', content='initial-scale=1.0,width=device-width')
  title Webpack1 app
body
.main
  .main__container
    include ../components/info/info
  .main__container
    include ../components/role/role
  .main__container
    include ../components/tech/tech
  .main__container
    +quickOrder






