| @extends ('layout')
| @section('content')
.container
  include ../components/breadcrumbs/breadcrumbs
  +breadcrumbs('Оплата')
  include ../components/title/title
  +title('h1', 'Оплата')
  include ../components/text/text
  +payment
| @endsection