| @extends ('layout')
| @section('content')
.container
  include ../components/breadcrumbs/breadcrumbs
  +breadcrumbs('{{$subcategory}}', '{{$items->name}}')
  include ../components/product/product
  include ../components/popup/popup
  +buy()
| @endsection
