| @extends ('layout')
| @section('content')
.container
  include ../components/breadcrumbs/breadcrumbs
  +breadcrumbs('{{$product->name}}', '{{$product->category}}', '{{$product->category_slug}}')
  include ../components/product/product
  include ../components/popup/popup
  +buy()
| @endsection
