| @extends ('layout')
| @section('content')
.container
  include ../components/breadcrumbs/breadcrumbs
  +breadcrumbs('Поиск')
  .catalog.js-search
    .catalog__title
      span Поисковый запрос -
      h1 {{$search_str}}
    .catalog__container
      .catalog__content
        .catalog__top-panel
          .catalog__total
            p показано товаров: {{$items->count()}} из {{$items->total()}} ед.
        include ../components/item/item
        +items('4')


| @endsection

