| @extends ('layout')
| @section('content')
.container
  include ../components/breadcrumbs/breadcrumbs
  +breadcrumbs('Поиск')
  .catalog.js-search
    .catalog__title
      span Поисковый запрос -
      h1 {{$search_str}}
    .catalog__container
      .catalog__content
        | @if ($items)
        .catalog__top-panel
          .catalog__total
            p найдено товаров: {{$items->count()}} ед.
        include ../components/item/item
        +items('4')
        | @else
        .catalog__top-panel
          .catalog__total
            p по данному запросу ничего не найдено
        | @endif
| @endsection

