| @extends ('layout')
| @section('content')
.container
  include ../components/breadcrumbs/breadcrumbs
  +breadcrumbs('Доставка')
  include ../components/title/title
  +title('h1', 'Доставка')
  include ../components/text/text
  +shipping
| @endsection


