mixin shipping
  .text.text--white-bg
    p Мы осуществляем доставку наших православных изделий во все регионы России.
    p В связи с тем, что наша продукция - это продукт ручной работы, некоторые,
      |  понравившиеся Вам, изделия могут отсутствовать в наличии и изготавливаются
      |  под заказ. Ориентировочное время с момента изготовления до момента доставки
      |  уточняйте у менеджера.
    p
      strong Доступность (наличие) изделия указана на страничке товара.
    p Подробнее ознакомиться со способами оплаты Вы можете в разделе –
      |  <a href="/payment">Оплата</a>.
    .text__title
      h2 Курьерская доставка
    p Стоимость доставки ювелирных изделий курьером <strong>в пределах МКАД</strong> – <strong>300 руб.</strong>
      | <br/>При заказе на сумму 4000 руб. и более, доставка в пределах МКАД бесплатна
    p Стоимость доставки курьером в районы, расположенные <strong>за МКАД составит 300 руб. + доплата 150 руб./10км.</strong>
      |  <span class="red">(но не далее 50 км от МКАД)</span>
    p Минимальная стоимость доставки православных изделий <strong>в ближайшее Подмосковье (от 50 км от МКАД) – 500 руб.</strong>
      | <br>Итоговая стоимость данной доставки определяется исключительно по согласованию с менеджером по телефону!
    p <strong>Срок доставки изделий, в случае наличия, составляет 1-2 дня с момента оформления заказа.</strong>
      | <br/>Доставка "день в день" возможна, если заказ поступил до 12.00. <br/>В случае, если заказ поступил позже,
      |  то доставка осуществляется на следующий день с 10.00 до 20.00, либо в любое другое удобное для Вас время.
    p <strong>Менеджер обязательно уточнит дату и время доставки, предварительно связавшись с Вами!</strong>
    p Вы имеете право отказаться от доставленных изделий! <br/>В этом случае Вам необходимо оплатить стоимость
      |  курьерских услуг, в соответствии с вышеизложенным тарифом.
    .text__signature С уважением, vecheria.ru!

mixin payment
  .text.text--white-bg
    p В данном разделе Вы можете ознакомиться со способами оплаты понравившихся Вам православных изделий.
    p Подробнее о способах доставки Вы можете ознакомиться в разделе –
      |  <a href="/shipping">Доставка</a>.
    .text__title
      h2 Оплата наличными курьеру
    p Оплата заказа производится по факту доставки, после после проверки внешнего вида и комплектности.
      |  При получении товара убедитесь в отсутствии дефектов и его соответствии с заказанным Вами на сайте.
      |  Проверка товара происходит только в присутствии сотрудника службы доставки.
      |  При наличии претензий к внешнему виду и комплектности товара Покупатель может отказаться от товара.
    p После оплаты заказа Вам выдается товарный чек с печатью, подтверждающий факт оплаты.
    p <strong>Мы будем благодарны, если Вы заранее приготовите необходимую для оплаты заказа сумму!</strong>
    .text__title
      h2 Перевод на карту ПАО "Сбербанк"
    p <strong>Данный способ оплаты используется приемущественно для изготовления изделия на заказ.</strong>
    p Учитывая тот факт, что изделия мастерских - это продукт ручной работы, понравившиеся Вам изделия могут отсутствовать в наличии и
      |  изготавливаться на заказ. Изготовление православного изделия на заказ осуществляется <span class="red">после 100% авансового платежа (предоплаты)</span>.
    p Детали по использованию данного способа оплаты уточняйте у менеджера
    .text__signature С уважением, vecheria.ru!

mixin contacts
  .text.text--white-bg
    .text__title
      h2 Интернет-магазин православных ювелирных изделий «ВЕЧЕРИЯ»
    p Прием телефонных звонков и обработка заказов осуществляется по будням (пн-пт) с 10:00 до 19:00 по МСК. <br/>Заказы через интернет принимаются круглосуточно!
    .text__title
      h2 Реквизиты:
    p ИП: Никитин Б.В. (г.Москва)<br>ИНН: 770205705990<br>ОГРНИП: 313774628200454
    .text__title
      h2 Телефоны:
    p <a href="tel:+74952039696">+7 (495) 203-96-96</a><br><a href="tel:+79268015670">+7 (926) 801-56-70</a>
    p <a href="" class="js-button-callback">Заказать обратный звонок</a>
    .text__title
      h2 Электронная почта:
    p <a href="mailto:info@vecheria.ru">info@vecheria.ru</a>
    .text__signature С уважением, vecheria.ru!