/* Переменные */
@import '../_defaults/variables';

.item__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px;
}

.item {
  background: #FFFFFF;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 21px 7.5px 0;
  width: calc(100% / 3 - 15px);

  &--4 {
    width: calc(100% / 4 - 15px);
  }
}

.item__sign {
  background: #caa971;
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  padding: 8px 18px;
  font-size: 14px;
  top: -6px;
  z-index: 1;
  border-radius: 4px 0 4px 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
  left: 15px;

  &:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 0 8px 0 0;
    right: -6px;
    top: 0;
  }

  &:after {
    content: "";
    width: 5px;
    height: 4px;
    display: inline-block;
    border-radius: 4px 8px 0 0;
    position: absolute;
    right: -5px;
    top: 1px;
    background: #ac8b53;
  }
}

.item__article {
  position: absolute;
  right: 15px;
  top: 10px;
  text-align: right;
  color: $text-color-opacity;
  font-size: 13px;

  &:before {
    content: "\410\440\442: ";
  }
}

.item__image {
  margin: 50px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  a {
    height: 120px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.item__name {
  text-align: center;
  margin: 15px 20px 20px;
  line-height: 18px;
  height: 38px;
  overflow: hidden;
  font-weight: 300;

  a {
    color: $text-color-opacity;
    background: #FFFFFF;
    position: relative;
    z-index: 10;
    transition: color 0.05s;
    font-size: 15px;

    .no-touch &:hover {
      color: $orange-color-hover;
    }
  }
}

.item__price {
  text-align: center;

  p {
    font-size: 22px;
    color: $text-color;

    &:after {
      content: "\440\443\431.";
      display: inline-block;
      margin-left: 4px;
      font-size: 15px;
    }
  }
}

.item__button {
  padding: 20px 60px 20px;
}

