.info
  .info__title Информация о портале
  .info__text
    p
      | Полную информацию об условиях работы нашей компании,
      | касаемо Аренды спецтехники и оказания Услуг спецтехники,
      | Вы можете получить позвонив по телефону указанному на сайте
      | (звонки принимаются круглосуточно). Все работы производимые
      | силами нашей компании осуществляются в строгом соответствии
      | требованиями, установленными законодательством Российской Федерации.
      | Мы работаем на территории Москвы и Московской области. Транспортировка
      | строительной спецтехники за пределы МКАД оплачивается отдельно.
      | После принятия окончательного решения о взаимодействии с
      | нашей компанией, составляется Договор оказания