/* Переменные */
@import '../_defaults/variables';

.info {
  border: 3px solid #ECF1F5;
  border-radius: 4px;
  padding: 30px 198px 30px 30px;
  position: relative;
  overflow: hidden;
  
  &:before {
    content: '';
    position: absolute;
    shape-outside: polygon(30px 0, 165px 0, 165px 100%, 0 100%);
    clip-path: polygon(30px 0, 165px 0, 165px 100%, 0 100%);
    width: 168px;
    height: 100%;
    top: 0;
    right: -3px;
    background: #ECF1F5;
  }
  
  &:after {
    content: '\E806';
    font-family: $font-icons;
    width: 145px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    font-size: 50px;
  }
}

.info__title {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 20px 0;
  line-height: 18px;
}

.info__text p {
  line-height: 22px;
  color: $text-color-opacity;
  font-size: 15px;
}