/* Переменные */
@import '../_defaults/variables';
@import './filter-switch/filter-switch';
@import './filter-box/filter-box';
@import './filter-slide-box/filter-slide-box';

.filter {
  font-size: 14px;

  &.is-display {
    display: block;
  }

  &.is-active {
    opacity: 1;
    right: 0;
  }

  @media only screen and (max-width: 768px) {
    border-radius: 0;
    position: fixed;
    top: 47px;
    width: 100%;
    height: calc(100% - 47px);
    margin: 0;
    overflow-y: auto;
    z-index: 1000;
    right: -100%;
    display: none;
    opacity: 0;
    transition: right 0.20s, opacity 0.20s;
    background: #F9F9FA;
  }
}

.filter__head {
  line-height: 38px;
  border: 1px solid $orange-color;
  background: $orange-color;
  text-align: center;
  color: #FFFFFF;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.filter__part {
  border: 1px solid #E6E6E6;
  border-top: none;

  @media only screen and (max-width: 768px) {
    /*&:nth-child(3) {
      display: none;
    }*/
  }
}

.filter__title {
  color: $text-color-opacity;
  padding: 12px 15px 12px 45px;
  background: #F9F9FA;
  position: relative;

  &:before {
    content: "\E803";
    top: 50%;
    transform: translateY(-50%);
    font-family: $font-icons;
    position: absolute;
    left: 15px;
    color: #666b72;
  }

  &--sort:before {
    content: "\F160";
    font-size: 12px;
  }
}

.filter__reset {
  display: none;

  button {
    width: 100%;
    font-family: $font-family;
    color: #FFFFFF;
    background-color: #73787F;
    padding: 11px 0;
    font-size: 12px;
    transition: background-color 0.08s;
    cursor: pointer;

    .no-touch &:hover {
      background-color: #666B72;
    }

    &:active {
      box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
    }
  }
}