.filter
  include ./filter-box/filter-box
  //-.filter__head Фильтр и сортировка
  //-.filter__part.filter__part--sort
    .filter__title.filter__title--sort Сортировка
    .filter__switch
      include filter-switch/filter-switch
  //-.filter__part
    .filter__title Фильтр
    .filter__section
      include filter-section/filter-section
  //-.filter__reset
    button Сбросить фильтр и сортировку

