/* Переменные */
@import '../_defaults/variables';

.tech__wrapper {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.tech {
  border-radius: 4px;
  border: 2px solid #ECF1F5;
  flex: 0 1 198px;
  margin: 15px;
  color: $text-color;
  position: relative;
  transition: border-color 0.08s;

  &:before {
    content: '';
    shape-outside: polygon(0 0, 100% 0, 100% 100px, 0 118px);
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 118px);
    width: 100%;
    height: 118px;
    display: block;
    background: #ECF1F5;
    position: absolute;
  }

  .no-touch &:hover {
    border-color: $orange-color;

    .tech__ico:before {
      left: 0;
    }

    .tech__name {
      color: $orange-color;
    }
  }
}

.tech__ico {
  position: relative;
  height: 118px;
  overflow: hidden;
  shape-outside: polygon(0 0, 100% 0, 100% 100px, 0 118px);
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 118px);

  &:after {
    content: '\E820';
    font-family: $font-icons;
    font-size: 40px;
    position: absolute;
    top: 28px;
    text-align: center;
    width: 100%;
  }
}

.tech__ico--cran:after {
  content: '\E81C';
}

.tech__ico--dozer:after {
  content: '\E813';
}

.tech__ico--gus-eksk:after {
  content: '\E81B';
  font-size: 46px;
}

.tech__ico--dlinn:after {
  content: '\E81D';
}

.tech__ico--koles-eksk:after {
  content: '\E81F';
  font-size: 56px;
}

.tech__ico--manip:after {
  content: '\E821';
}

.tech__ico--mini:after {
  content: '\E816';
}

.tech__ico--nizko:after {
  content: '\E822';
}

.tech__ico--sam:after {
  content: '\E818';
}

.tech__ico--front:after {
  content: '\E819';
}

.tech__ico--eksk:after {
  content: '\E81A';
  font-size: 46px;
}

.tech__name {
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-spacing: 60px;
  padding: 18px 0 0 0;
  margin: -18px 0 0 0;
  transition: color 0.08s;
}
