.tech__wrapper
  a.tech(href="")
    .tech__ico
    .tech__name Автовышки
  a.tech(href="")
    .tech__ico.tech__ico--cran
    .tech__name Автокраны
  a.tech(href="")
    .tech__ico.tech__ico--dozer
    .tech__name Бульдозеры
  a.tech(href="")
    .tech__ico.tech__ico--gus-eksk
    .tech__name Гусеничные экскаваторы
  a.tech(href="")
    .tech__ico.tech__ico--dlinn
    .tech__name Длинномеры
  a.tech(href="")
    .tech__ico.tech__ico--koles-eksk
    .tech__name Колесные экскаваторы
  a.tech(href="")
    .tech__ico.tech__ico--manip
    .tech__name Манипуляторы
  a.tech(href="")
    .tech__ico.tech__ico--mini
    .tech__name Минипогрузчики
  a.tech(href="")
    .tech__ico.tech__ico--nizko
    .tech__name Низкорамные платформы
  a.tech(href="")
    .tech__ico.tech__ico--sam
    .tech__name Самосвалы
  a.tech(href="")
    .tech__ico.tech__ico--front
    .tech__name Фронтальные погрузчики
  a.tech(href="")
    .tech__ico.tech__ico--eksk
    .tech__name Экскаваторы