.product-image
  .product-image__showcase
    img(src!="/images/items/{{$items->image_path}}")
  //ul.product-image__preview
    li
      img(src!="/images/items/angel_hranitely_golgofa_gospody_vsederghitely_tolgskaya_ikona_boghiey_materi_2.jpg")
    li
      img(src!="/images/items/angel_hranitely_golgofa_gospody_vsederghitely_tolgskaya_ikona_boghiey_materi_2.jpg")
    li
      img(src!="/images/items/chasy_dve_stihii_a1100301_5.jpg")