/* Переменные */
@import '../../_defaults/variables';

.catalog-select {
  color: $text-color;
  display: inline-flex;

  span {
    font-weight: 300;
    font-size: 13px;
    white-space: nowrap;

    @media only screen and (max-width: 480px) {
      //display: none;
    }
  }

  select {
    color: $text-color;
    appearance: none;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 10px 0 2px;
    outline: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' fill-rule='evenodd' class='cls-1' d='M8,0L4.141,6.993,0.012,0.156Z'/%3E%3C/svg%3E%0A") right center no-repeat;

    @media only screen and (max-width: 768px) {
      //padding: 0 15px 0 2px;
    }
  }

  optgroup {
    appearance: none;
    font-weight: 300;
    font-style: normal;
    display: none;

    @media only screen and (max-width: 768px) {
      display: block;
    }
  }

  option {
    background-color: #FFFFFF;
    color: $text-color-opacity;
    padding: 0 2px 1px;
    border: 1px solid transparent;
    white-space: pre;
  }
}