mixin callback ()
  .popup.js-popup-callback
    .popup__container
      .popup__header
        span.popup__close
        .popup__title Заявка на обратный звонок
        p.popup__desc Оставьте свои контактные данные и мы свяжемся с Вами в ближайшее время!
      | @if ($callback == 'sent')
      .popup__body.is-success
        .popup__success Заявка успешно отправлена!
      | @else
      .popup__body
        form.popup__form(id="callback")
          .popup__field
            label(for="callback-name") Имя:
            .popup__input
              input(id="callback-name", name="name", placeholder="Иванов Иван Иванович")
              label(for="callback-name")
          .popup__field
            label(for="callback-phone") Телефон:
            .popup__input
              input(type="tel", id="callback-phone", name="phone", placeholder="Пример: 8 (495) 000-00-00")
              label.phone(for="callback-phone")
          .popup__button
            button.button Отправить заявку
        .popup__offer
          p Отправляя заявку, Вы соглашаетесь на обработку персональных данных
      | @endif

mixin buy()
  .popup.js-popup-buy
    .popup__container
      .popup__header
        span.popup__close
        .popup__title Заявка на покупку
        p.popup__desc Оставьте свои контактные данные и мы свяжемся с Вами, что бы оформить заказ!
      | @if ($buy == 'sent')
      .popup__body.is-success
        .popup__success Заявка успешно отправлена!
      | @else
      .popup__body
        form.popup__form(id="buy")
          .popup__field
            label(for="name") Имя:
            .popup__input
              input(id="name", name="name", placeholder="Иванов Иван Иванович")
              label(for="name")
          .popup__field
            label(for="phone") Телефон:
            .popup__input
              input(type="tel", id="phone", name="phone", placeholder="Пример: 8 (495) 000-00-00")
              label.phone(for="phone")
          .popup__button
            button.button Заказать
        .popup__offer
          p Отправляя заявку, Вы соглашаетесь на обработку персональных данных
      | @endif